In [3]:
import streamlit as st
import requests
import json
import numpy as np
import pandas as pd

food_type = pd.read_csv('food_type.csv')

#import state city dict
state_city_path = '/Users/dima/code/Dimasaur/scorecast/frontend/state_city_dict.json'

with open('state_city_dict.json') as json_file:
    state_city_dict = json.load(json_file)

st.markdown("""### First, select the cuisine type you'd like to have in your restaurants ###""")

food_type = st.selectbox(
    label = "# Restaurant type #",
    options = food_type['food_type']
    )

st.markdown("""### Tell us now where you want your restaurant to be located ###""")

# First dropdown: Select state
selected_state = st.selectbox(
    "Select a State:",
    options=list(state_city_dict.keys()))  # List of states from the dictionary

    # Second dropdown: Select city based on selected state
if selected_state:
    # Get the list of cities for the selected state
    cities = state_city_dict[selected_state]

    # Create a dropdown for cities
    selected_city = st.selectbox(
        "Select a City:",
        options=list(cities)  # List of cities corresponding to the selected state
        )

submitted = st.button("Submit your preferences")

2024-09-02 15:06:21.167 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.195
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/dima/.pyenv/versions/scorecast/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]
2024-09-02 15:06:21.195 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.196 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.196 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.198 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.198 Session state does not function when running a script without `streamlit run`
2024-09-02 15:06:21.199 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.200 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.200 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.200 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.201 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.201 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.201 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.201 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.202 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.202 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.202 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.203 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.203 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.203 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.203 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.203 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.204 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-02 15:06:21.204 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [80]:
df_restaurants = pd.read_csv("/Users/dima/code/Dimasaur/scorecast/data/restaurants_ohe.csv")

df_restaurants.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,food_type_one_Indian,food_type_one_Italian,food_type_one_Japanese,food_type_one_Mexican,food_type_one_Sandwiches,food_type_one_Seafood,food_type_one_Steakhouses,food_type_one_Thai,food_type_one_Vietnamese,food_type_one_None
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [79]:


# filter the of the same city and food type
df_filtered = df_restaurants[
    (df_restaurants["city"].astype(str).str.upper() == "PHILADELPHIA") &
    (df_restaurants[f"food_type_one_{'Italian'}"] == 1)
]

# get top 10 cities
df_sorted = df_filtered.sort_values('stars',ascending=False)
df_map_input = df_sorted[["name","latitude","longitude"]].reset_index()
del df_map_input['index']
df_map_input = df_map_input[:10]
df_map_input

                                  name   latitude  longitude
0                         Castellino's  39.972337 -75.129040
1           Mediterranean Banquet Hall  39.925306 -75.173291
2                   Fiorella's Sausage  39.938873 -75.156937
3                      The Gables Cafe  39.944194 -75.209709
4                     Restaurant Ambra  39.940324 -75.149300
5                            Caffe Ida  39.924223 -75.175689
6                Tortilleria San Roman  39.937636 -75.158082
7                          Lucatelli's  39.951761 -75.169130
8  Chiquita's Pizzeria & Mexican Grill  39.922904 -75.159634
9               Superior Pasta Company  39.939154 -75.158038

## Restaurants stats ##

In [81]:
restaurants_eda_df_full = pd.read_csv("restaurant_eda_df_full.csv")
from ff_app import selected_city

/var/folders/fd/585jf60x39vflmpy4gfz7yzh0000gn/T/ipykernel_17345/3909869273.py:1: DtypeWarning: Columns (16,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  restaurants_eda_df_full = pd.read_csv("stats/restaurant_eda_df_full.csv")

In [294]:
selected_city_df = restaurants_eda_df_full[restaurants_eda_df_full.city.astype(str).str.upper() == selected_city]

selected_city_stats = selected_city_df.drop(columns = ['Unnamed: 0.1', 'key_0', 'Unnamed: 0', 'index', 'business_id',
       'postal_code', 'latitude', 'longitude']).reset_index().drop(columns=['index'])

bool_col = selected_city_stats.select_dtypes(include="object").drop(columns=["food_type","price_range","city","state"])
bool_col_name = bool_col.columns
# clean up the na/nan values from the boolean columns

selected_city_stats[bool_col_name] = selected_city_stats[bool_col_name].fillna(False)
selected_city_stats[bool_col_name].isna().sum()

selected_city_stats[bool_col_name] = selected_city_stats[bool_col_name].astype(int)
selected_city_stats['alcohol'] = selected_city_stats['alcohol'].astype(int)

selected_city_stats = selected_city_stats.drop(columns = ["stars","review_count","is_open"])
int_col = selected_city_stats.select_dtypes(include="int").columns

top_5_features = pd.DataFrame(selected_city_stats[int_col].sum().sort_values(ascending = False)[:5], columns = ["no_places"])

top_5_features = pd.DataFrame(round(top_5_features.no_places / len(selected_city_stats),2)*100)

top_5_features

/var/folders/fd/585jf60x39vflmpy4gfz7yzh0000gn/T/ipykernel_17345/314268371.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  selected_city_stats[bool_col_name] = selected_city_stats[bool_col_name].fillna(False)

                 no_places
take_out              84.0
good_for_kids         73.0
good_for_groups       67.0
tv                    62.0
bike_parking          49.0

## States most popular cuisines ##

In [295]:
from ff_app import selected_state

state_ab_full = {
    'AB': 'ALBERTA',
    'AZ': 'ARIZONA',
    'CA': 'CALIFORNIA',
    'DE': 'DELAWARE',
    'FL': 'FLORIDA',
    'ID': 'IDAHO',
    'IL': 'ILLINOIS',
    'IN': 'INDIANA',
    'LA': 'LOUISIANA',
    'MO': 'MISSOURI',
    'NJ': 'NEW JERSEY',
    'NV': 'NEVADA',
    'PA': 'PENNSYLVANIA',
    'TN': 'TENNESSEE'
}

state_full_abb = {
    'ALBERTA': 'AB',
    'ARIZONA': 'AZ',
    'CALIFORNIA':'CA',
    'DELAWARE':'DE',
    'FLORIDA':'FL',
    'IDAHO':'ID',
    'ILLINOIS':'IL',
    'INDIANA': 'IN',
    'LOUISIANA':'LA',
    'MISSOURI': 'MO',
    'NEW JERSEY':'NJ',
    'NEVADA': 'NV',
    'PENNSYLVANIA':'PA',
    'TENNESSEE':'TN'
}

selected_state_abbr = state_full_abb[selected_state]
selected_state_df = restaurants_eda_df_full[restaurants_eda_df_full.state.astype(str).str.upper() == selected_state_abbr]

restaurants_ohe = pd.read_csv("/Users/dima/code/Dimasaur/scorecast/data/restaurants_ohe.csv")
restaurants_ohe.columns

restaurants_ohe_fil = restaurants_ohe[['business_id','food_type_one']]
restaurants_ohe_fil

selected_state_df_full = pd.merge(selected_state_df, restaurants_ohe_fil,on=["business_id"], how="left")
state_ranking_food_type = selected_state_df_full.groupby(selected_state_df_full.food_type_one).count()

top_state_rest = pd.DataFrame(state_ranking_food_type.sort_values("business_id",ascending=False)['index'])

top_state_rest['count'] = top_state_rest['index']
del top_state_rest['index']
top_state_rest['percentage'] = round(top_state_rest['count']/top_state_rest['count'].sum() * 100,0)
del top_state_rest['count']
top_state_rest = top_state_rest[:10]
top_state_rest

               percentage
food_type_one
American             16.0
Burgers              10.0
Sandwiches            9.0
Chinese               9.0
Italian               9.0
Cafes                 8.0
Japanese              7.0
Vietnamese            7.0
Indian                6.0
Seafood               3.0

# Average Review Score for each city and cuisine

In [306]:
# average review of by city

avg_review_city = round(selected_city_df.stars.mean(),2)

# average review of by city + by food type

avg_review_city_food = round(df_restaurants[
                        (df_restaurants.city.astype(str).str.upper() == selected_city.upper()) & \
                        (df_restaurants.food_type_one == food_type)
                    ].stars.mean(),2)

# Cities Notebook #