In [52]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [10]:
# loading businesses and restaurant ids
df_bus = pd.read_csv("/Users/dima/code/Dimasaur/scorecast/raw_data/yelp_business_raw.csv")
res_ids = pd.read_csv("/Users/dima/code/Dimasaur/scorecast/data/restaurants.csv")

In [9]:
df_bus.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [14]:
# filtering restaurants only from businesses
df_res = df_bus[df_bus['business_id'].isin(res_ids.business_id)]

print(f'DF restaurants shape: {df_res.shape}')

DF restaurants shape: (52268, 14)

In [17]:
res_categories = df_res.categories
print(res_categories)

3         Restaurants, Food, Bubble Tea, Coffee & Tea, B...
5         Burgers, Fast Food, Sandwiches, Food, Ice Crea...
8         Pubs, Restaurants, Italian, Bars, American (Tr...
9         Ice Cream & Frozen Yogurt, Fast Food, Burgers,...
11               Vietnamese, Food, Restaurants, Food Trucks
                                ...
150325    Restaurants, Sandwiches, Convenience Stores, C...
150327    Cafes, Juice Bars & Smoothies, Coffee & Tea, R...
150336                                 Restaurants, Mexican
150339    Restaurants, Comfort Food, Food, Food Trucks, ...
150340                          Middle Eastern, Restaurants
Name: categories, Length: 52268, dtype: object

In [33]:
test_split = res_categories.iloc[0].split(',')
print(test_split)

['Restaurants', ' Food', ' Bubble Tea', ' Coffee & Tea', ' Bakeries']

In [34]:
categories_total = []
for row in range(len(res_categories)):
    row_split = res_categories.iloc[row].split()
    categories_total.append(row_split)

In [41]:
categories_total[0]

['American',
 '(Traditional),',
 'Restaurants,',
 'Diners,',
 'Breakfast',
 '&',
 'Brunch']

In [42]:
cat_flat_list = [item for sublist in categories_total for item in sublist]

In [44]:
len(cat_flat_list)

343195

In [45]:
df_cat = pd.DataFrame(cat_flat_list,columns=['categories'])

In [51]:
df_cat.value_counts(normalize=True).head(30)

categories
Restaurants,      0.113003
Food,             0.061129
&                 0.059144
American          0.041991
Restaurants       0.039514
Bars,             0.037014
Food              0.021804
Nightlife,        0.021379
Sandwiches,       0.019237
(Traditional),    0.018937
Fast              0.018858
Breakfast         0.018197
(New),            0.014889
Pizza,            0.014656
Brunch,           0.014350
Burgers,          0.012477
Coffee            0.012223
Event             0.011760
Chicken           0.010997
Services,         0.010536
Tea,              0.010332
Bars              0.009828
Italian,          0.009735
Mexican,          0.009260
Planning          0.009047
Seafood,          0.007958
Salad,            0.007244
Wings,            0.006821
Cafes,            0.006798
Wine              0.006270
Name: proportion, dtype: float64

In [96]:
cat_select = list(df_cat.value_counts().index[:20])
cat_select_clean = []
for cat in cat_select:
    cat[0].strip(',')
    cat_select_clean.append(cat[0].strip(','))

cat_select_clean

['Restaurants',
 'Food',
 '&',
 'American',
 'Restaurants',
 'Bars',
 'Food',
 'Nightlife',
 'Sandwiches',
 '(Traditional)',
 'Fast',
 'Breakfast',
 '(New)',
 'Pizza',
 'Brunch',
 'Burgers',
 'Coffee',
 'Event',
 'Chicken',
 'Services']

In [ ]:
ohe = OneHotEncoder(sparse_output=False)
ohe.fit()